# Node modules
node_modules/

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Env files (IMPORTANT)
.env
.env.local
.env.*.local

# OS / Editor files
.DS_Store
Thumbs.db

# IDE / Editor configs
.vscode/
.idea/

# Temporary files
.tmp/
temp/
coverage/

# Nodemon
nodemon-debug.log

# Cache
.cache/
